@media only screen and (max-width: 414px) {
    .secimg {
        display: inline-block;
        position: relative;
        right: 138px;
    }
    .tabl{
        display: inline-block;
        position: relative;
        left: 80px;
        top: -65px;
        width: 241px !important;
    }
}